sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
node_js:
  - '6'
  - '8'
before_install:
  - $CXX --version
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
